sklearn
matplotlib
keras
h5py
pandas
numpy
scipy
tensorflow-gpu
# keras_contrib # installed using pip3 install git+https://www.github.com/keras-team/keras-contrib.git
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
